EXPO_PUBLIC_SUPABASE_URL=https://egjrjloqombvoruopahl.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEYeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVnanJqbG9xb21idm9ydW9wYWhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA5NDY1NzYsImV4cCI6MjA4NjUyMjU3Nn0.0SmYXhf37OmBxDLNHrrYwbgcTkzKHpvjObms4G1n_pA