/* Web-specific Icon Fonts Configuration */

/* Ionicons - optimized for web */
@font-face {
  font-family: 'Ionicons';
  src: url('https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff2') format('woff2'),
       url('https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff') format('woff'),
       url('https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf') format('truetype');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

/* Ionicons alternate source (unpkg) */
@font-face {
  font-family: 'Ionicons';
  src: url('https://unpkg.com/ionicons@7/dist/fonts/ionicons.ttf') format('truetype');
  font-display: block;
  font-weight: normal;
  font-style: normal;
  unicode-range: U+F100-F9FF;
}

/* Material Icons - Google Fonts (official)  */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

/* FontAwesome 5 Free */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/webfonts/fa-regular-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/webfonts/fa-solid-900.woff2') format('woff2');
}

/* Ensure icons display properly */
i[class*="icon-"],
.icon {
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

