/* Load Icon Fonts - Use local fonts bundled by Expo */

/* Ionicons */
@font-face {
  font-family: "Ionicons";
  src: url("/_expo/static/fonts/Ionicons.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

/* Material Icons */
@font-face {
  font-family: "MaterialIcons";
  src: url("/_expo/static/fonts/MaterialIcons.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

/* Material Community Icons */
@font-face {
  font-family: "MaterialCommunityIcons";
  src: url("/_expo/static/fonts/MaterialCommunityIcons.ttf")
    format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

/* FontAwesome 5 - with correct family names for React Native Web */
@font-face {
  font-family: "FontAwesome5Brands-Regular";
  src: url("/_expo/static/fonts/FontAwesome5_Brands.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesome5Free-Regular";
  src: url("/_expo/static/fonts/FontAwesome5_Regular.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesome5Free-Solid";
  src: url("/_expo/static/fonts/FontAwesome5_Solid.ttf") format("truetype");
  font-display: block;
  font-weight: 900;
  font-style: normal;
}

/* FontAwesome 5 - alternate naming for compatibility */
@font-face {
  font-family: "FontAwesome5-Brands";
  src: url("/_expo/static/fonts/FontAwesome5_Brands.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesome5-Regular";
  src: url("/_expo/static/fonts/FontAwesome5_Regular.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesome5-Solid";
  src: url("/_expo/static/fonts/FontAwesome5_Solid.ttf") format("truetype");
  font-display: block;
  font-weight: 900;
  font-style: normal;
}

/* FontAwesome 6 */
@font-face {
  font-family: "FontAwesome6_Brands";
  src: url("/_expo/static/fonts/FontAwesome6_Brands.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesome6_Regular";
  src: url("/_expo/static/fonts/FontAwesome6_Regular.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesome6_Solid";
  src: url("/_expo/static/fonts/FontAwesome6_Solid.ttf") format("truetype");
  font-display: block;
  font-weight: 900;
  font-style: normal;
}

/* Others */
@font-face {
  font-family: "AntDesign";
  src: url("/_expo/static/fonts/AntDesign.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Entypo";
  src: url("/_expo/static/fonts/Entypo.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "EvilIcons";
  src: url("/_expo/static/fonts/EvilIcons.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Feather";
  src: url("/_expo/static/fonts/Feather.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesome";
  src: url("/_expo/static/fonts/FontAwesome.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fontisto";
  src: url("/_expo/static/fonts/Fontisto.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Foundation";
  src: url("/_expo/static/fonts/Foundation.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Octicons";
  src: url("/_expo/static/fonts/Octicons.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SimpleLineIcons";
  src: url("/_expo/static/fonts/SimpleLineIcons.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Zocial";
  src: url("/_expo/static/fonts/Zocial.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
  font-style: normal;
}

/* Ensure icons display properly */
i[class*="icon-"],
.icon {
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
